<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user_to.username %>   </h1>
    <p>
      You have a new Task on Trello,
      <br>
    </p>
    <p>
      Task: <%= @task.name %>.
    </p>
    
    
  
  </body>
</html>
