<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @to.username %>   Deadline of Task @card.name is near. </h1>
    <p>
      <br>
    </p>
    <p>
      Task: <%= @card.name %>.
    </p>
    
    
  
  </body>
</html>
