<div class = "Comment new">
  <h1>Add new Comment</h1>
  <%= form_for([@board,@list,@card, @comment]) do |f| %>
    <%= render(:partial => 'form',:locals => {:f => f}) %>
    
    <div class = "form-buttons">
      <%= f.submit("Create Comment")%>
    </div>
  
  <%end%>
  

</div>