<%=error_messages_for(f.object)%>
<%=%>
<table summary="Tasks for fields">
  <tr>
    <th>Select User</th>
    <td><%= f.select(:username,@users_list)%></td>
  </tr>
   <tr>
    <th>Task</th>
    <td><%= f.text_area(:task) %></td>
  </tr>
  
</table>