
<div class = "Password Reset">
  <h1> Reset Password </h1>
  
  <%= form_for(@user, :url => admin_create_path(:id => @user.id) , :method => 'patch') do |f| %>
    <table summary = "Password fields">
  
      <tr>
        <th> New Password </th>
        <td> <%= f.text_area(:encrypted_password)%> </td>
      </tr> 
    </table>
    
    <div class = "form-buttons">
      <%= f.submit("Create Board") %>
    </div>

  <%end%>
  
  
</div>
